@inject Microsoft.AspNetCore.Identity.UserManager<TravelAgencyWebApp.Data.Models.ApplicationUser> UserManager
@using static TravelAgencyWebApp.Common.ApplicationConstants;
<!DOCTYPE html>
<html lang="bg">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Travelix Project">
	<title>@ViewData["Title"] - Дени Травел</title>
	<link rel="stylesheet" href="~/Content/styles/bootstrap4/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Content/styles/main_styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Content/styles/responsive.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	@if (ViewData["IsErrorPage"] != null && (bool)ViewData["IsErrorPage"]!)
	{
		// Do not render navbar and footer for error pages
	}
	else
	{
		<div class="super_container">
			<!-- Header -->
			<header class="header">
				<div class="top_bar">
					<div class="container">
						<div class="row">
							<div class="col d-flex flex-row">
								<div class="phone">+359 332 5678</div>
								<div class="user_box ml-auto">
									@if (User.Identity!.IsAuthenticated)
									{
										<div class="user_box_login user_box_link">
											<a class="nav-link" asp-page="/Account/Manage/Index" title="Manage">Здравей, @User.Identity.Name!</a>
										</div>
										<div class="user_box_login user_box_link">
											<a class="nav-link" asp-area="Identity" asp-page="/Account/Logout"
											   title="Logout"
											   onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
												Изход
											</a>
											<form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post" style="display: none;">
												{{-- Any additional hidden fields if necessary --}}
											</form>
										</div>
									}
									else
									{
										<div class="user_box_login user_box_link">
											<a asp-area="Identity" asp-page="/Account/Login">Вход</a>
										</div>
										<div class="user_box_login user_box_link">
											<a asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
										</div>
									}
									@if (User.IsInRole(AdminRoleName))
									{
										<div class="user_box_login user_box_link">
											<a asp-area="Admin" asp-page="/Admin">Админ Панел</a>
										</div>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Main Navigation -->
				<nav class="main_nav">
					<div class="container">
						<div class="row">
							<div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
								<div class="logo_container">
									<div class="logo">
										<a asp-controller="Home" asp-action="Index">
											<img src="~/Content/images/logo.png" alt="Дени Травел" />
											Дени Травел
										</a>
									</div>
								</div>
								<div class="main_nav_container ml-auto">
									<ul class="main_nav_list">
										<li class="main_nav_item"><a asp-controller="Home" asp-action="Index" asp-area="">Начало</a></li>
										<li class="main_nav_item"><a asp-controller="Offer" asp-action="Index" asp-area="">Оферти</a></li>
										@if (User.Identity!.IsAuthenticated)
										{
											<li class="main_nav_item">
												<a asp-controller="Booking" asp-action="Index" asp-area="" onclick="console.log('Redirecting to My Reservations');">Моите Резервации</a>
											</li>
										}
										<li class="main_nav_item"><a asp-controller="Home" asp-action="About" asp-area="">За Нас</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</header>
		</div>
		<div class="row mb-3">
			<div class="col-md-12">
				<img src="~/Content/images/about_background.jpg" alt="Нашите Оферти" class="img-fluid" style="max-width: 100%; height: auto;" />
			</div>
		</div>
	}
	<!-- Body Content -->
	<main>
		@RenderBody()
	</main>
	@if (ViewData["IsErrorPage"] != null && (bool)ViewData["IsErrorPage"]!)
	{
		// Do not render navbar and footer for error pages
	}
	else
	{
		<!-- Footer -->
		<footer class="footer">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="footer_col">
							<div class="footer_content footer_about">
								<div class="logo_container footer_logo">
									<div class="logo"><a href="#"><img src="/Content/images/logo.png" alt="" />Дени Травел</a></div>
								</div>
								<p>Вашият надежден партньор за пътуване.</p>
								<p>Свържете се с нас: <a href="mailto:info@denitravel.com">info@denitravel.com</a></p>
								<p>Телефон: +359 345 3324</p>
								<ul class="footer_social_list list-inline">
									<li class="footer_social_item list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li class="footer_social_item list-inline-item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
									<li class="footer_social_item list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
								</ul>
								<p class="mt-3">&copy; 2024 Дени Травел. Всички права запазени.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	}
	@RenderSection("Scripts", required: false)
	<!-- Scripts Section -->
	<script src="~/Content/js/jquery-3.2.1.min.js" asp-append-version="true"></script>
</body>
</html>