
@{
	ViewData["Title"] = "За Нас";
}
<!DOCTYPE html>
<html lang="bg">
@* <head>
	<title>За нас</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Travelix Project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="~/Content/styles/bootstrap4/bootstrap.min.css" asp-append-version="true" />
	<link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css" asp-append-version="true" />
</head> *@
<body>

		<!-- About Section -->
		<div class="container mt-5">
			<h2 class="text-center">Нашата История</h2>
			<p class="text-center">
				Добре дошли в Дени Травел! Ние сме вашият надежден партньор в пътуванията.
				С години опит на пазара, ние предлагаме уникални и незабравими преживявания за всеки клиент.
			</p>

			<h3 class="mt-4">Нашата Мисия</h3>
			<p>
				Наша цел е да предоставим висококачествени туристически услуги,
				гарантирайки удобство, безопасност и удовлетворение на нашите клиенти.
			</p>

			<h3 class="mt-4">Нашият Екип</h3>
			<div class="row">
				<div class="col-md-4 text-center">
					<div class="team-member">
						<img src="~/Content/images/member1.jpg" class="img-fluid rounded-circle" alt="Team Member" />
						<h5>Иван Иванов</h5>
						<p>Туристически Консултант</p>
						<p>С опит над 10 години в индустрията, Иван е вашият идеален партньор за планиране на приключения.</p>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="team-member">
						<img src="~/Content/images/member2.jpg" class="img-fluid rounded-circle" alt="Team Member" />
						<h5>Мария Петрова</h5>
						<p>Мениджър по Продажбите</p>
						<p>Мария е специалист в проектирането на идеални пакети, комбиниращи комфорт и приключение.</p>
					</div>
				</div>
				<div class="col-md-4 text-center">
					<div class="team-member">
						<img src="~/Content/images/member3.webp" class="img-fluid rounded-circle" alt="Team Member" />
						<h5>Георги Георгиев</h5>
						<p>Финансов Консултант</p>
						<p>С дългогодишен опит в финансовото планиране, Георги помага на клиентите да правят разумни инвестиции.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Include jQuery and Bootstrap scripts -->
	<script src="~/Content/js/jquery-3.2.1.min.js" asp-append-version="true"></script>

</body>
</html>