@{
    ViewData["Title"] = "404 - Page Not Found";
    ViewData["IsErrorPage"] = true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles/HomeStyles/home_error404.css" asp-append-version="true" />
</head>
<body>
    <div class="overlay"></div>
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-message">О, не! Страницата не може да бъде намерена.</div>
        <div>
            <p>Изглежда, че загубихме пътя по време на пътуването.</p>
            <p>Върнете се към безопасността на началната страница.</p>
            <a asp-controller="Home" asp-action="Index" asp-area="" class="btn btn-primary error__button">Начало</a>
        </div>
    </div>
</body>
</html>