@model TravelAgencyWebApp.ViewModels.Booking.CreateBookingViewModel
@{
    ViewBag.Title = "Създаване на Резервация";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styles/BookingStyles/booking_create.css" />
</head>

<h2 class="text-center">Създаване на Резервация</h2>

<div class="container mt-4">
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="OfferId"></label>
            <select asp-for="OfferId" class="form-control" asp-items="ViewBag.Offers"></select>
            <span asp-validation-for="OfferId" class="text-danger"></span>
        </div>

        <!-- Option for Registered Users -->
        <div class="user-option">
            <h3 class="mt-4">Регистриран Потребител</h3>
            <div class="form-group">
                <label asp-for="UserId">Изберете потребител</label>
                <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(ViewBag.RegisteredUsers, "Id", "FullName"))">
                    <option value="">-- Неизбран --</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </div>

        <!-- Option for Unregistered Users -->
        <div class="user-option">
            <h3 class="mt-4">Нерегистриран Потребител</h3>
            <div class="form-group">
                <label asp-for="UserFullName">Име</label>
                <input asp-for="UserFullName" class="form-control" placeholder="Въведете име" />
                <span asp-validation-for="UserFullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserEmail">Имейл</label>
                <input asp-for="UserEmail" class="form-control" placeholder="Въведете имейл" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CheckInDate"></label>
            <input asp-for="CheckInDate" class="form-control" type="date" />
            <span asp-validation-for="CheckInDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CheckOutDate"></label>
            <input asp-for="CheckOutDate" class="form-control" type="date" />
            <span asp-validation-for="CheckOutDate" class="text-danger"></span>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Създаване на Резервация</button>
        </div>
    </form>
</div>