@model TravelAgencyWebApp.ViewModels.Booking.EditBookingViewModel

@{
    ViewData["Title"] = "Редактиране на Резервация";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styles/BookingStyles/booking_edit.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles/BookingStyles/booking_edit_responsive.css" asp-append-version="true" />
</head>
<div class="container mt-5">
    <div class="form-container">
        <h2>Редактиране на Резервация</h2>

        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="FullName" class="control-label">Вашите Имена</label>
                <input asp-for="FullName" class="form-control" required />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CheckInDate" class="control-label">Дата на Настаняване</label>
                <input asp-for="CheckInDate" class="form-control" type="date" required readonly />
                <span asp-validation-for="CheckInDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label">Дата на Освобождаване</label>
                <input asp-for="CheckOutDate" class="form-control" type="date" required readonly />
                <span asp-validation-for="CheckOutDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="OfferId" class="control-label">Оферта</label>
                <select asp-for="OfferId" class="form-control" asp-items="@ViewBag.Offers" required></select>
                <span asp-validation-for="OfferId" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success">Запази Промените</button>
                <a asp-action="Index" class="btn btn-secondary">Отказ</a>
            </div>
        </form>
    </div>
</div>