html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.home {
    position: relative;
    height: 500px; /* Fixed height */
    overflow: hidden;
    margin: 0; /* Reset margin if necessary */
    padding: 0; /* Reset padding if necessary */
}


.home_background {
    background-image: url('/Content/images/home_slider.jpg');
    background-size: cover; /* or contain if you want to see the entire image */
    background-position: center; /* Center the image */
    height:720px; /* Set a fixed height for visibility */
    opacity: 0.8; /* Optional: add some opacity for a slight overlay effect */
}

.home_content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.card {
    transition: transform 0.3s;
}

    .card:hover {
        transform: scale(1.05); /* Scale effect on hover */
    }

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

th.sorted-asc i,
th.sorted-desc i {
    visibility: visible; /* Ensure the icon is visible */
}

th.sorted-asc i {
    content: "\f0de"; /* Font Awesome sort ascending icon */
}

th.sorted-desc i {
    content: "\f0de"; /* Font Awesome sort descending icon */
}

.card {
    width: 300px; /* Fixed width */
    height: 400px; /* Fixed height */
    overflow: hidden; /* Prevent overflow */
    margin: auto; /* Center the cards in their columns */
}

.card-body {
    overflow: hidden; /* Hide excess content */
    text-overflow: ellipsis; /* Add ellipsis if text is too long */
    white-space: nowrap; /* Prevent wrapping */
}

.card img {
    max-width: 100%; /* Ensure image fits within the card */
    height: 150px; /* Fixed height for the image to maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area */
}
